[user]
   name = Casey Link
   email = unnamedrambler@gmail.com
[color]
   branch = auto
   diff = auto
   status = auto
[color "branch"]
   current = yellow reverse
   local = yellow
   remote = green
[color "diff"]
   meta = yellow bold
   frag = magenta bold
   old = red bold
   new = green bold
[color "status"]
   added = yellow
   changed = green
   untracked = cyan

[merge]
    tool = kompare
    path = /usr/lib/kde4/bin/kompare
[http]
   sslVerify = false
[branch]
  autosetuprebase = always
[core]
    excludesfile = ~/.gitignore_global
[alias]
    ci = commit
    co = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    fix = commit --amend -C HEAD


